html.light {
  width: 100vw;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Gemunu Libre", sans-serif;
}

html.dark {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Gemunu Libre", sans-serif;
  background-color: #222222;
}

nav {
  margin: 0px;
  width: 100vw;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  background: #4d43ff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #faff12;
  background: linear-gradient(0deg, #faff12 0%, #fdbb2d 100%);
}
nav span {
  max-width: 1920px;
}
nav span #navbar {
  height: 5vh;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
nav span #navbar form input {
  border-right: none;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  background-color: whitesmoke;
}
nav span #navbar form button {
  border-left: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: #222222;
}

main.light {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  overflow: hidden;
  font-family: "Gemunu Libre", sans-serif;
}
main.light nav {
  background: none;
  width: 100%;
  padding-top: 0px;
}
main.light nav .nav-link {
  color: black;
}
main.light nav button.nav-link.active.dark {
  color: black;
  border: black 1px solid;
  border-radius: 0px;
  border-top: none;
}
main.light nav .nav-tabs {
  border-bottom: 1px solid black;
}

main.dark {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  color: #d6d6d6;
  overflow: hidden;
  font-family: "Gemunu Libre", sans-serif;
}
main.dark nav {
  background: none;
  width: 100%;
  padding-top: 0px;
}
main.dark nav .nav-link {
  color: #d6d6d6;
}
main.dark nav button.nav-link.active.dark {
  background-color: #222222;
  color: #fdbb2d;
  border-radius: 0px;
  border-top: none;
}
main.dark section.tickers li {
  list-style-type: none;
  padding: 2%;
  font-weight: 550;
  font-size: 1.8em;
  color: #fdbb2d;
}
main.dark section.tickers li.legend {
  color: #d6d6d6;
}
main.dark hr {
  color: #fdbb2d;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.3;
}

hr {
  color: #fdbb2d;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.7;
}

h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2%;
  margin-top: 0.5rem;
}

section.tickers li {
  list-style-type: none;
  padding: 2%;
  font-weight: 550;
  font-size: 1.8em;
  color: black;
}
section.tickers li img {
  height: auto;
  width: 50px;
  margin-right: 10px;
}
section.tickers li > span:nth-of-type(1) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 50%;
}
section.tickers li > span:nth-of-type(1) > img {
  height: auto;
  width: 30px;
}
section.tickers li:hover {
  background-color: #adadad;
  color: black !important;
  font-weight: 600 !important;
}
section.tickers li:hover > span.na {
  font-weight: 600 !important;
}
section.tickers li.legend {
  font-weight: 550;
  font-size: 1.8em;
}
section.tickers li.legend span {
  float: right;
}
section.tickers > span {
  display: flex;
  flex-direction: row;
}

section.tickers ul > li > span.na {
  float: right;
  font-weight: 500;
}
section.tickers ul > li > span.na img:hover {
  cursor: pointer;
}

section.tickers > ul > li > span.green {
  color: green;
  float: right;
  font-weight: 500;
}

section.tickers > ul > li > span.red {
  color: red;
  float: right;
  font-weight: 500;
}

.tab-pane {
  min-height: 100vh;
}

.searchtab span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchtab h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0;
  float: left;
}

.searchdynamicborder {
  border: 1px solid #fdbb2d;
  padding: 2%;
}

.searchresult {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.searchresult img {
  height: auto;
  max-width: 150px;
}
.searchresult > div {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 4%;
}
.searchresult > div > span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

.eventresult,
.eventresult2,
.eventresult3 {
  border: 1px solid #fdbb2d;
  padding: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.eventresult img,
.eventresult2 img,
.eventresult3 img {
  height: auto;
  max-width: 50%;
}
.eventresult > div,
.eventresult2 > div,
.eventresult3 > div {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 4%;
}
.eventresult > div > span,
.eventresult2 > div > span,
.eventresult3 > div > span {
  width: 100%;
}
.eventresult > div > span span,
.eventresult2 > div > span span,
.eventresult3 > div > span span {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.bttcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bttimage {
  width: 50px;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  color: black;
  border: 1px solid #fdbb2d;
}
.modal-content h6 {
  font-size: 130%;
}

.modal-header {
  border-bottom: 1px solid #fdbb2d;
}

.modal-footer {
  border-top: 1px solid #fdbb2d;
}

.modal-content.dark {
  background-color: #222222;
  color: #d6d6d6;
}

h7 {
  font-size: larger;
  font-weight: 500;
}

.hidden {
  display: none;
}

.darktoggle {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.darktoggle h2 {
  font-size: inherit;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 50px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  height: 22px;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fdbb2d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fdbb2d;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.red {
  color: red;
}

.green {
  color: green;
}/*# sourceMappingURL=style.css.map */